@charset "UTF-8";
/*  UIAM - 02031998 */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url("fancybox.css");
@import url("flatpickr.min.css");
@import url("aos.css");
@import url("swiper-bundle.min.css");
@import url("custom.css");
@import url("fonts.css");
@import url("header.css");
@import url("footer.css");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-family-polymath);
}

main {
    background-color: var(--color-f6);
    margin-top: 14rem;
}

.text-danger {
    color: red;
    font-size: var(--font-12);
}

:root {
    --font-family-polymath: 'Polymath';
    --font-family-mansory: 'Mansory';
    --font-family-montserrat: 'Montserrat';
    --font-family-merriweather: 'Merriweather';
    --color-f6: #F6F6F6;
    --color-f8: #F8F8F8;
    --color-white: #ffffff;
    --color-black: #000000;
    --color-f5: #f5874f;
    --color-52: #52658c;
    --color-57: #FF0057;
    --color-b6: #b69e85;
    --color-a4: #A45E4D;
    --color-a8: #F174A8;
    --color-cf: #CFBAAF;
    --color-f7: #F7ADAF;
    --color-5c: #5CC6D0;
    --color-df: #DF6B6B;
    --color-ce: #CEEEF1;
    --color-fe: #FEF3F6;
    --color-f2: #F2EBE7;
    --color-7a: #7070701A;
    --color-E6: #E5F0B6;
    --color-f3: #FEF7F3;
     --color-ef: #EFF8F9;
    --color-44: #444444;
     --color-47: #474747;
    --color-ac: #AC9F43;
     --color-83: #83BA30;
    --transition: 300ms cubic-bezier(.2,.9,.3,1);
    --font-131: 13.1rem;
    --font-122: 12.2rem;
    --font-120: 12rem;
    --font-94: 9.4rem;
    --font-80: 8rem;
    --font-76: 7.6rem;
    --font-72: 7.2rem;
    --font-62: 6.2rem;
    --font-60: 6rem;
    --font-56: 5.6rem;
    --font-52: 5.2rem;
    --font-48: 4.8rem;
    --font-46: 4.6rem;
    --font-42: 4.2rem;
    --font-40: 4rem;
    --font-38: 3.8rem;
    --font-36: 3.6rem;
    --font-34: 3.4rem;
    --font-32: 3.2rem;
    --font-30: 3rem;
    --font-28: 2.8rem;
    --font-26: 2.6rem;
    --font-25: 2.5rem;
    --font-24: 2.4rem;
    --font-20: 2.0rem;
    --font-22: 2.2rem;
    --font-21: 2.1rem;
    --font-18: 1.8rem;
    --font-17: 1.7rem;
    --font-16: 1.6rem;
    --font-15: 1.5rem;
    --font-14: 1.4rem;
    --font-13: 1.3rem;
    --font-12: 1.2rem;
    --font-11: 1.1rem;
    --font-10: 1rem;
    --line-height-65: 1.38;
    --line-height-60: 1;
    --line-height-48: 1.15;
    --line-height-44: 1.1;
    --line-height-40: 1.11;
    --line-height-36: 1.4;
    --line-height-35: 3.5rem;
    --line-height-33: 1.36;
    --line-height-30: 3rem;
    --line-height-26: 1.25;
    --line-height-24: 2.4rem;
    --line-height-23: 2.3rem;
    --line-height-21: 1.18;
    --line-height-18: 1.8rem;
    --line-height-17: 1.7rem;
    --line-height-16: 1.1;
}

.container {
    max-width: 1490px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.container-fluid {
    width: 100%;
    padding-left: 0rem;
    padding-right: 0rem;
}


@media(max-width:1699px) {
    :root {
        --font-131: 11.1rem;
        --font-120: 10rem;
        --font-122: 10.2rem;
        --font-94: 8.4rem;
        --font-80: 7rem;
        --font-76: 6.9rem;
        --font-72: 6.2rem;
        --font-62: 5.2rem;
        --font-60: 4.8rem;
        --font-52: 4.2rem;
        --font-48: 3.8rem;
        --font-42: 3.6rem;
        --font-40: 3.4rem;
        --font-38: 3.0rem;
        --font-36: 2.8rem;
        --font-34: 2.6rem;
        --font-32: 2.5rem;
        --font-30: 2.4rem;
        --font-26: 2.1rem;
        --font-25: 2.1rem;
        --font-24: 2rem;
        --font-20: 1.9rem;
        --font-22: 2rem;
        --font-21: 1.8rem;
        --font-18: 1.6rem;
        --font-17: 1.4rem;
        --font-16: 1.4rem;
        --font-15: 1.4rem;
        --font-14: 1.3rem;
        --font-13: 1.2rem;
        --font-12: 1.1rem;
        --font-11: 1rem;
        --font-10: 1rem;
        --line-height-35: 2.8rem;
        --line-height-30: 2.6rem;
        --line-height-26: 2.4rem;
        --line-height-24: 2.2rem;
        --line-height-23: 2.1rem;
        --line-height-18: 1.9rem;
        --line-height-17: 1.8rem;
    }

    .container {
        max-width: 1272px;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    .container-fluid {

    }
}

@media(max-width:1550px) {
    :root {
        --font-131: 9.5rem;
        --font-122: 8.7rem;
        --font-120: 8.5rem;
        --font-94: 7.4rem;
        --font-80: 7rem;
        --font-76: 6.9rem;
        --font-72: 6.2rem;
        --font-62: 5.2rem;
        --font-60: 4.8rem;
        --font-52: 4.2rem;
        --font-48: 3.8rem;
        --font-46: 3.6rem;
        --font-42: 3.2rem;
        --font-40: 3.1rem;
        --font-38: 3rem;
        --font-36: 2.8rem;
        --font-34: 2.6rem;
        --font-32: 2.5rem;
        --font-30: 2.4rem;
        --font-28: 2.2rem;
        --font-26: 2.1rem;
        --font-25: 1.9rem;
        --font-24: 1.8rem;
        --font-22: 1.7rem;
        --font-20: 1.6rem;
        --font-21: 1.6rem;
        --font-18: 1.5rem;
        --font-17: 1.4rem;
        --font-16: 1.3rem;
        --font-15: 1.3rem;
        --font-14: 1.2rem;
        --font-13: 1.1rem;
        --font-12: 1rem;
        --font-11: 0.9rem;
        --font-10: 0.9rem;
        --line-height-35: 2.3rem;
        --line-height-30: 2.2rem;
        --line-height-26: 2.1rem;
        --line-height-24: 1.8rem;
        --line-height-23: 2.1rem;
        --line-height-18: 1.8rem;
        --line-height-17: 1.7rem;
    }

    .container {
        max-width: 1155px;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    .container-fluid {
        max-width: 100%;

    }
}

@media(max-width:1199px) {
    :root {
        --font-131: 9.1rem;
        --font-128: 8.9rem;
        --font-122: 7.8rem;
        --font-120: 8rem;
        --font-94: 7.4rem;
        --font-76: 5.4rem;
        --font-72: 5.2rem;
        --font-62: 4.2rem;
        --font-60: 3.8rem;
        --font-56: 4.6rem;
        --font-52: 4.2rem;
        --font-48: 3.8rem;
        --font-46: 3.6rem;
        --font-42: 2.9rem;
        --font-40: 2.7rem;
        --font-38: 2.8rem;
        --font-32: 2.5rem;
        --font-36: 2.6rem;
        --font-34: 2.4rem;
        --font-30: 2.2rem;
        --font-28: 2.1rem;
        --font-26: 2rem;
        --font-25: 2rem;
        --font-24: 1.9rem;
        --font-22: 1.8rem;
        --font-20: 1.4rem;
        --font-21: 1.6rem;
        --font-18: 1.4rem;
        --font-17: 1.3rem;
        --font-16: 1.3rem;
        --font-15: 1.3rem;
        --font-14: 1.2rem;
        --font-13: 1.1rem;
        --font-12: 1rem;
        --font-11: 0.9rem;
        --font-10: 0.9rem;
        /* --line-height-36: 3.6rem; */
        --line-height-35: 3.5rem;
        --line-height-30: 2.4rem;
        /* --line-height-26: 2.6rem; */
        --line-height-24: 1.8rem;
        --line-height-23: 2.1rem;
        --line-height-18: 1.8rem;
        --line-height-17: 1.7rem;
    }

    .container {
        max-width: 1000px;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}

@media(max-width:992px) {
    :root {
        --font-131: 9.1rem;
        --font-128: 8.9rem;
        --font-122: 7.8rem;
        --font-120: 8rem;
        --font-94: 7.4rem;
        --font-76: 5.4rem;
        --font-72: 5.2rem;
        --font-62: 4.2rem;
        --font-60: 3.8rem;
        --font-56: 4.6rem;
        --font-52: 4.2rem;
        --font-48: 3.8rem;
        --font-46: 3.6rem;
        --font-42: 3rem;
        --font-38: 2.8rem;
        --font-32: 2.5rem;
        --font-36: 2.6rem;
        --font-34: 2.4rem;
        --font-30: 2.2rem;
        --font-28: 2.1rem;
        --font-26: 2rem;
        --font-25: 2rem;
        --font-24: 1.9rem;
        --font-22: 1.8rem;
        --font-20: 1.7rem;
        --font-21: 1.6rem;
        --font-18: 1.5rem;
        --font-17: 1.4rem;
        --font-16: 1.3rem;
        --font-15: 1.3rem;
        --font-14: 1.2rem;
        --font-13: 1.2rem;
        --font-12: 1rem;
        --font-11: 0.9rem;
        --font-10: 0.9rem;
        --line-height-35: 3.5rem;
        --line-height-30: 2.4rem;
        /* --line-height-26: 2.6rem; */
        --line-height-24: 1.8rem;
        --line-height-23: 2.1rem;
        --line-height-18: 1.8rem;
        --line-height-17: 1.7rem;
    }
}

@media(max-width:991px) {
    .container {
        padding-left: 2.6rem;
        padding-right: 2.6rem;
    }
}

@media(max-width:575px) {
    .container {
        padding-left: 3.6rem;
        padding-right: 3.6rem;
    }
}

@media(max-width:330px) {
    .container {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

/* @media(max-width:991px){main{padding-top: 7.5rem;}}
@media(max-width:320px){main{padding-top: 6.9rem;}} */


/* @media(min-width:1199px){
    body, a, button, input, textarea, select { cursor: none !important; }
    .custom-cursor { position: fixed; top: 0; left: 0; width: 2rem; height: 2rem; background: url(../images/cursor-svg.svg); background-repeat: no-repeat; background-size: contain; background-position: center; pointer-events: none; transition: transform 0.08s ease-out, width 0.2s ease, height 0.2s ease; z-index: 9999;will-change: transform; }
} */

::after,
::before {
    box-sizing: border-box;
}

audio,
canvas,
embed,
iframe,
img,
object,
svg,
video {
    display: block;
    max-width: 100%;
    width: 100%;
}

body {
    margin: 0;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    background-color: var(--color-f6);
    scroll-behavior: unset !important;
    font-family: var(--font-family-polymath);
}

html {
    font-size: 62.5%;
}

p {
    font-size: var(--font-16);
    color: var(--color-black);
    line-height: var(--line-height-24);
    font-family: var(--font-family-polymath);
    margin-bottom: 3rem;
}

p:last-of-type {
    margin-bottom: 0;
}

p:empty {
    display: none !important;
}

a {
    text-decoration: none;
    font-family: var(--font-family-polymath);
    transition: all .5s ease;
}

figure {
    margin-bottom: 0;
}

.heading {
    font-size: var(--font-48);
    font-family: var(--font-family-mansory);
    color: var(--color-57);
    font-weight: 400;
}

.sub-heading {
    font-size: var(--font-30);
    font-family: var(--font-family-mansory);
    color: var(--color-57);
    font-weight: 600;
}

h3 {
    font-size: var(--font-30);
    font-family: var(--font-family-polymath);
    color: var(--color-black);
    font-weight: 400;
}

h4 {
    font-size: var(--font-24);
    font-family: var(--font-family-mansory);
    color: var(--color-52);
}

h5 {
    font-size: var(--font-18);
    color: var(--color-black);
    font-family: var(--font-family-polymath);
    font-weight: 500;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    font-size: var(--font-16);
    line-height: var(--line-height-24);
    font-weight: normal;
}

::-webkit-scrollbar {
    width: 0.5rem;
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-84);
    border-radius: 0.2rem;
}

::-webkit-scrollbar-track {
    background-color: var(--color-f5);
    border-radius: 0.2rem;
}

.overlap_btn {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    font-size: 0;
}

/* .swiper-wrapper{cursor:none !important;} */

.swiper_nav {
    display: flex;
    gap: 0.4rem;
}

:is(.swiper-button-prev, .swiper-button-next) {
    position: relative;
    margin-top: 0;
    width: 3.2rem;
    height: 3.2rem;
    right: auto;
    left: auto;
    font-size: var(--font-12);
    font-weight: bold;
    color: var(--color-84);
    background-color: var(--color-f5);
    transition: all .5s ease;
    border-radius: 6rem;
    margin: .3rem;
    color: var(--color-white);
}

:is(.swiper-button-prev, .swiper-button-next):hover {
    color: var(--color-white);
    background-color: var(--color-f5);
}

.swiper-button-prev::after {
    content: '\F284';
    font-family: bootstrap-icons !important;
    font-size: inherit;
}

.swiper-button-next::after {
    content: '\F285';
    font-family: bootstrap-icons !important;
    font-size: inherit;
}

.scrollbar_wrap {
    position: relative;
    display: flex;
    align-self: center;
}

.scrollbar_wrap::before {
    width: 100%;
    height: 0.1rem;
    position: absolute;
    content: "";
    background: #BFC7C4;
    top: 0.1rem;
    z-index: 1;
}

.scrollbar_wrap .swiper-horizontal>.swiper-scrollbar,
.facilty_section .swiper-scrollbar.swiper-scrollbar-horizontal {
    position: static;
}

.scrollbar_wrap .swiper-scrollbar-drag {
    background: var(--color-bb);
    box-shadow: 0px 3px 6px #00000012;
}

.scrollbar_wrap .swiper-scrollbar.swiper-scrollbar-horizontal {
    left: 0;
    width: 100%;
    height: 0.4rem;
    background-color: transparent;
    bottom: 0;
    top: 0;
}

@media(max-width:1699px) {
    :is(.swiper-button-prev, .swiper-button-next) {
        width: 3.5rem;
        height: 3.5rem;
    }
}

@media(max-width:767px) {
    :is(.swiper-button-prev, .swiper-button-next) {
        width: 4.1rem;
        height: 3.7rem;
    }
}

@media (max-width: 350px) {
    :is(.swiper-button-prev, .swiper-button-next) {
        width: 3.1rem;
        height: 2.7rem;
    }
}

.shine {
    position: relative;
    overflow: hidden;
}

.shine::before {
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
    content: "";
    display: block;
    height: 100%;
    left: -100%;
    position: absolute;
    top: 0;
    transform: skewX(-25deg);
    width: 50%;
    z-index: 2;
}

.shine:hover::before,
.shine:focus::before {
    -webkit-animation: shine 0.85s;
    animation: shine 0.85s;
}

@-webkit-keyframes shine {
    100% {
        left: 125%;
    }
}

@keyframes shine {
    100% {
        left: 125%;
    }
}


/* FormStyle */

@media(max-width:1680px) {
   main {
    margin-top: 15rem;
} 
}

@media(max-width:1450px) {
   main {
    margin-top: 13rem;
} 
}
@media(max-width:1366px) {
   main {
    margin-top: 11rem;
} 
}

@media(max-width:1280px) {
   main {
   
} 
}


@media(max-width:767px) {}

/* Custom Tab */


/* livewire pagination */
@media(min-width:992px) {

    /* Reveal Animations */
    .image,
    .image2 {
        opacity: 0;
    }

    .reveal-image,
    .reveal-image:after {
        position: absolute;
        animation-delay: 0s;
        animation-iteration-count: 1;
        animation-duration: 1600ms;
        animation-fill-mode: both;
        animation-timing-function: ease-in-out;
    }

    .reveal-image2,
    .reveal-image2:after {
        position: absolute;
        animation-delay: .1s;
        animation-iteration-count: 1;
        animation-duration: 1800ms;
        animation-fill-mode: both;
        animation-timing-function: ease-in-out;
    }

    .reveal-image {
        opacity: 1;
        position: relative;
        animation-name: reveal-image;
    }

    .reveal-image2 {
        opacity: 1;
        position: relative;
        animation-name: reveal-image2;
    }

    .reveal-image3 {
        opacity: 1;
        position: relative;
        animation-name: fadeInline1;
        animation-delay: .1s;
        animation-iteration-count: 1;
        animation-duration: 1800ms;
        animation-fill-mode: both;
        animation-timing-function: ease-in-out;
        transform-origin: top;
    }

    @keyframes reveal-image {
        from {
            clip-path: inset(0 100% 0 0);
        }

        to {
            clip-path: inset(0 0 0 0);
        }
    }

    @keyframes reveal-image2 {
        from {
            clip-path: inset(0 0% 100% 0);
        }

        to {
            clip-path: inset(0 0 0 0);
        }
    }
}

.image-container {
    position: relative;
    overflow: hidden;
    padding-bottom: calc(50% / (var(--ratio)));
}

.d-flex {
    display: flex !important;
}
input {
    background-color: var(--color-white);
    padding: 1.5rem;
    border: 1px solid transparent;
    width: 100%;
    font-size: var(--font-18);
    margin-bottom: 1.5rem;
    transition: all 0.3s;
    position: relative;
}
.form-select {
    background-color: var(--color-white);
    padding: 1.5rem;
    border: 1px solid transparent;
    width: 100%;
    font-size: var(--font-18);
    margin-bottom: 1.5rem;
    transition: all 0.3s;
}
/* Search Area */

.link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
}

.w-auto {
    width: auto;
}

.cus-btn {}

.cus-btn a {
    border: .2rem solid var(--color-f5);
    font-size: var(--font-16);
    color: var(--color-f5);
    font-weight: 400;
    padding: 1rem 2.5rem;
    display: inline-block;
}

.cus-btn a:hover {
    background-color: var(--color-f5);
    color: var(--color-white);
}

.cus-btn a i {
    background-color: #df6e34;
    width: 3rem;
    display: inline-block;
    height: 3rem;
    border-radius: 10rem;
    line-height: 3rem;
    margin-left: 1rem;
    color: var(--color-white);
    text-align: center;
}

.cus-btn1 {}

.cus-btn1 a {
    border: .2rem solid var(--color-f5);
    background-color: var(--color-f5);
    font-size: var(--font-16);
    color: var(--color-f5);
    font-weight: 400;
    padding: 1rem 2.5rem;
    display: inline-block;
    color: var(--color-white);
}

.cus-btn1 a:hover {
    background-color: var(--color-a8);
    color: var(--color-white);
    border: .2rem solid var(--color-a8);
}

.cus-btn1 a i {
    background-color: #df6e34;
    width: 3rem;
    display: inline-block;
    height: 3rem;
    border-radius: 10rem;
    line-height: 3rem;
    margin-left: 1rem;
    color: var(--color-white);
    text-align: center;
}


@media (min-width: 2200px) {
    .cus-btn a {
        font-size: var(--font-18);
    }

}
